body {
    background-color: #f8f9fa;
    background-image: url(C:/Users/HP/Documents/REFUGEE/imageS/refuge.jpeg);
}

h1 {
    color: #343a40;
    font-family: fantasy;
   
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;

}